@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background-color: #f2f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  border-radius: 12px;
  background: linear-gradient(135deg, #4a90e2, #007bff);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #e1e8f0;
  padding: 12px;
  text-align: left;
  color: #fff;
}

table th {
  background-color: #0056b3;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

table tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#tot-a-pag{
  width: 87%;

}

#tot-a-rec{
  width: 87%;
}

input {
  background-color: #f0f4f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  color: #333;
  width: 100px;
}

input:focus {
  outline: none;
  border-color: #0056b3;
}

p {
  font-size: 16px;
  margin-top: 20px;
}

#stat{
  padding: 15px;
}

.vermelho {
  background-color: red;
  color: white;
  font-weight: bold;
}

.em-dia {
  background-color: green;
  color: white;
  font-weight: bold;
}
